body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-baloo: Baloo;
  --font-inter: Inter;
  --font-biryani: Biryani;
  --font-molengo: Molengo;
  --font-lato: Lato;
  --font-montserrat: Montserrat;
  --font-francois-one: "Francois One";
  --font-inria-sans: "Inria Sans";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-26xl: 45px;
  --font-size-23xl-3: 42.3px;
  --font-size-3xl: 22px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --button: rgba(226, 192, 68, 0.71);
  --color-black: #000;
  --color-blueviolet: #9747ff;

  /* Paddings */
  --padding-xl: 20px;
  --padding-21xl: 40px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-61xl: 80px;
  --br-31xl: 50px;
  --br-8xs: 5px;
}
